:root {
  --primary-black: #000;
  --primary-text-color: #fff;
  --accent-text: #d3f332;
  --border-card: #b1b1b1;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.section__header > .fp-tableCell {
  vertical-align: baseline !important;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

body {
  background-color: var(--primary-black);
  color: var(--primary-text-color);
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  body {
    overflow: scroll;
  }
}
.container {
  max-width: 1396px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* section */

section {
  animation: scaleUp 1s ease-out forwards;
}

@media screen and (max-width: 1024px) {
  section {
    padding: 90px 0;
  }
}

.section__title {
  max-width: 427px;
  font-size: 55px;
  font-weight: 400;
}

/* screen one Header */

.container__header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: scaleUp 1s ease-out forwards;
}

.header__nav {
  display: flex;
  gap: 50px;
}

.header__nav-item {
  padding: 39px 0;
}

.header__nav-item > .header__nav-link {
  color: var(--primary-text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 1.14;
}

.header__nav-item:hover > .header__nav-link,
.header__nav-item:focus > .header__nav-link {
  text-decoration: underline;
  color: var(--accent-text);
}

.languages {
  position: relative;
  display: flex;
  gap: 20px;
}

.languages::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 100%;
  background-color: var(--primary-text-color);
}

.btn__language {
  font-size: 24px;
  font-weight: 400;
}

.btn__language:hover,
.btn__language:focus {
  color: var(--accent-text);
}

/* mobile */

@media screen and (max-width: 1023px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary-black);
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 50000;
  }
  .is-open {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .menu-container,
  .burger,
  .menu-button--close {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .container__header {
    padding: 20px;
  }
  .desktop {
    display: none;
  }

  .container--menu {
    padding: 40px;
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .header__nav-item {
    padding: 0;
  }

  .header__nav-item > .header__nav-link {
    font-size: 36px;
  }

  .languages {
    margin-top: 40px;
  }

  .btn__language {
    font-size: 36px;
  }
  .menu-button--close {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 25px;
  }
}

/* animation */
@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
@media screen and (max-width: 1023px) {
  .fade-in {
    opacity: 1;
  }
}
.fade-in.active {
  opacity: 1;
}

/* hero */

.hero {
  padding: 50px 0;
}

.container__hero {
  margin-left: 94px;
}
.hero__title {
  max-width: 465px;
  font-size: 64px;
  font-weight: 900;

  margin-top: 74px;
}

.hero__wrapper {
  max-width: 461px;
  margin-top: 90px;
  position: relative;
}
.hero__text {
  font-size: 36px;
  font-weight: 400;
}

.btn__hero {
  position: absolute;
  bottom: -5px;
  right: 0;
  font-size: 24px;
  color: var(--primary-black);
  background-color: var(--accent-text);
  padding: 8px 10px;

  cursor: pointer;
}
/* .btn__hero:hover {
  cursor: pointer;
} */
.btn__hero-text {
  color: var(--primary-black);
  text-decoration: underline;
  text-transform: uppercase;
  margin-left: 8px;
}
/* mobile */
@media screen and (max-width: 1023px) {
  .container__hero {
    margin-left: 15%;
  }
  .btn__hero {
    position: static;
    margin-top: 20px;
  }
  .hero__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .hero__text {
    font-size: 20px;
    margin-top: 40px;
  }
  .hero__title {
    font-size: 48px;
  }
}
/* About */

.about {
  display: flex;
  justify-content: space-evenly;
  margin-top: 75px;
}

.about__item {
  max-width: 456px;
  font-size: 28px;
  font-weight: 300;
}

.about__text {
  margin-top: 50px;
}
.about__text-title {
  color: var(--accent-text);
}

@media screen and (max-width: 1023px) {
  .about {
    flex-direction: column;
  }
  .about__item:last-child {
    margin-top: 50px;
  }
}
/* services */

.swiper {
  width: 100%;
  height: 500px;
  margin-top: 75px;
}

.swiper-wrapper {
  display: flex;
  gap: 30px;
}

.swiper-slide {
  max-width: 350px;
  padding: 100px 50px 100px 15px;
  border: var(--border-card) 1px solid;

  cursor: pointer;
}

.slider__prev,
.slider__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 50px;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.slider__prev:hover,
.slider__next:hover {
  opacity: 1;
}

.slider__prev {
  left: 0px;
}

.slider__next {
  right: 0px;
}

.slider__title {
  max-width: 229px;
  min-height: 125px;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}

.swiper-slide > .slider__link {
  display: flex;
  justify-content: end;
  color: var(--accent-text);
  font-size: 20px;

  margin-top: 30px;
  text-decoration: underline;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '' !important;
}

@media screen and (max-width: 850px) {
  .slider__title {
    font-size: 18px;
  }
}
/* casses */

.wrapper {
  max-width: 100%;
}

.accordion {
  --_button-size: 3rem;
  --_panel-padding: 0.75rem;
  --_panel-gap: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  contain: content;
  padding: 0.5rem;

  margin-top: 50px;
}

@media (min-width: 45em) {
  .accordion {
    flex-direction: row;
    height: 30rem;
  }
}

.accordion-panel {
  position: relative;
  isolation: isolate;
  flex-basis: calc((var(--_panel-padding) * 2) + var(--_button-size));
  overflow: hidden;
  padding: var(--_panel-padding);
  padding-right: calc(var(--_panel-padding) * 4);
  border-radius: calc(
    ((var(--_panel-padding) * 2) + var(--_button-size)) / 2
  );
}

@media (prefers-reduced-motion: no-preference) {
  .accordion-panel {
    transition: flex-basis 500ms, flex-grow 500ms;
  }
}

.accordion-panel:has([aria-expanded='true']) {
  flex-basis: clamp(15rem, 40vh, 20rem);
  flex-grow: 1;
}

.accordion-trigger {
  outline: 0;
}

.accordion-trigger {
  display: flex;
  align-items: center;
  gap: var(--_panel-gap);
  flex-direction: row-reverse;
  background: transparent;
  border: 0;
  padding: 0;
}

.accordion-icon {
  fill: var(--_panel-color);
  background: hsl(0 0% 0% / 0.55);
  width: var(--_button-size);
  aspect-ratio: 1 / 1;
  padding: 0.75rem;
  border-radius: 50%;
  z-index: 10;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-item.active .accordion-content {
  max-height: 1000px;
  transition: max-height 0.3s ease-in;
}
.iframe {
  position: relative;
  z-index: -1;

  border-radius: 35px;
}

.iframe {
  position: relative;
  z-index: -1;
  width: 1000px;
  height: 400px;
  border-radius: 35px;
}

@media screen and (max-width: 1390px) and (min-width: 10024px) {
  .iframe {
    width: 800px;
  }
}

@media screen and (max-width: 1023px) {
  .iframe {
    width: 500px;
  }
}
.accordion-panel:has([aria-expanded='true']) .iframe {
  z-index: 2;
}
